@import "./colors.scss";

.contact_container {
  min-height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  h2 {
    font-size: 3rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    flex-grow: 1;
    & > * {
      pointer-events: all;
    }
    .contact_wrap {
      display: flex;
      flex-direction: column;
      span {
        font-weight: 700;
        font-size: 1.2rem;
        color: $dark;
      }
      textarea {
        max-width: 100%;
        min-width: 80%;
        max-height: 250px;
        min-height: 100px;
        padding: 5px;
        font-size: 20px;
        outline: none;
        background: none;
        box-shadow: none;
        border-style: none;
        border: solid 2px $white;
      }
      input {
        padding: 5px;
        outline: none;
        background: none;
        box-shadow: none;
        border-style: none;
        border-bottom: $white 2px solid;
        font-size: 20px;
        transition: all ease-in 0.3s;
        color: $dark;
      }
      input:focus {
        border-bottom: orange 2px solid;
        background: rgba(255, 254, 254, 0.147);
      }

      textarea:focus {
        border: orange 2px solid;
        background: rgba(255, 254, 254, 0.147);
      }
    }
  }
}

.contact_container > * {
  color: $dark;
}
