@import "./colors.scss";

.skills_container {
  width: 100%;
  height: 100%;
  display: flex;
  .skills_sections {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $dark;
    h2 {
      font-size: 2.5rem;
    }
    .skills {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          font-size: 1.8rem;
        }
        .skills_icon {
          color: orange;
        }
      }
    }
  }
}
