.body {
  background-color: #171717;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.full__page {
  width: 100vw;
  height: 100vh;
}

.bar__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  justify-content: space-between;

  &__inverted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
  }
}

.bar {
  height: 1vh;
  background-color: rgba(255, 255, 255, 0.4);
}

.ScrollBar_container {
  width: 80%;
  z-index: 2;
  position: relative;
  &_inverted {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

.pipe {
  width: 20px;
  height: 100%;

  border-top: none;
  border-bottom: none;
  position: relative;

  .liquid {
    background-color: aqua;
    width: 100%;
    height: 10%;
    z-index: 1;
  }
}

.triangle {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #171717;
  clip-path: polygon(0% 0%, 80% 50%, 0% 100%, 0% 50%);
  &_reverse {
    top: 5%;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #171717;
    clip-path: polygon(0% 0%, 80% 50%, 0% 100%, 0% 50%);
    transform: rotate(180deg);
  }
}

.animated__layers {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  display: flex;
  & > * {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
  }

  .ScrollBar_container {
    inset: 0 30px;
  }

  .ScrollBar_container_inverted {
    margin-right: 100px;
    width: 98%;
  }

  .bar__container {
    margin-right: 100px;
    width: 98%;
  }
  .bar__container__inverted {
    inset: 0 30px;
  }
}

.dot {
  background-color: orange;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: inset(0% 5% 0% 5%);
  z-index: 0;
}

.title {
  color: rgb(5, 74, 238);
  font-size: 8vw;
  padding-left: 8vw;

  & > span {
    display: block;
    overflow: hidden;

    & > span {
      display: block;
    }
  }
}
