@import "./portfolio.scss";
@import "./skills.scss";
@import "./colors.scss";
@import "./contactme.scss";
@import "./links.scss";
@import "./scrolldown.scss";

.body {
  background-color: #171717;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  // overflow-x: hidden;
  // scrollbar-width: none;
  // scrollbar-width: thin;
}

.body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.body::-webkit-scrollbar-track {
  background: #171717; /* Background color of the scrollbar track */
}

.body::-webkit-scrollbar-thumb {
  background-color: red; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the scrollbar handle */
  border: 2px solid #171717; /* Adds padding around the handle */
}



.full__page {
  width: 100vw;
  height: 100vh;
}

.bar__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  justify-content: space-between;

  &__inverted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
  }
}

.bar {
  height: 1vh;
  background-color: $cvBlue;
}

.ScrollBar_container {
  width: 80%;
  z-index: 2;
  position: relative;
  // margin-left: 5px;
  // border: solid 1px red;
}

.pipe {
  width: 20px;
  height: 100%;
  box-sizing: border-box;
  border-top: none;
  border-bottom: none;
  position: relative;

  .liquid {
    background-color: $cvBlue;
    width: 98%;
    height: 10%;
    z-index: 1;
  }
}

.triangle {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #171717;
  clip-path: polygon(0% 0%, 80% 50%, 0% 100%, 0% 50%);
  &_reverse {
    top: 5%;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #171717;
    clip-path: polygon(0% 0%, 80% 50%, 0% 100%, 0% 50%);
    transform: rotate(180deg);
  }
}

.animated__layers {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  display: flex;
  & > * {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
  }

  .bar__container {
    margin-right: 100px;
    width: 98%;
  }
  .bar__container__inverted {
    inset: 0 30px;
  }
}

.dot {
  // background-color: $dark;
  background-color: orange;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // clip-path: inset(0% 5% 0% 5%);

  &_item {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .portfolio_container {
      height: 90%;
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
      .portfolio_slider_container {
        min-height: 570px;
        display: flex;
        overflow: hidden;
        .portfolio_content {
          width: 100%;
          height: 100%;
          max-height: 100%;
          min-height: 570px;
          height: max-content;
          flex-grow: 0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5px;
          position: relative;
          transition: all 300ms ease-in-out;
        }
      }

      .portfolio_filter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        overflow: hidden;

        min-height: 80px;
        & > button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          pointer-events: all;
          font-size: 30px;
          color: $white;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          font-weight: 700;
          .line {
            width: 100%;
            height: 100%;
            border-bottom: solid 3px $white;
            position: absolute;
            left: -100%;
            transition: all ease 0.5s;
          }

          .btn_text_transition {
            transition: all ease 0.3s;
          }
        }
        button:hover {
          & .line {
            left: 0;
          }
          & .btn_text_transition {
            color: $dark;
          }
        }
      }
    }
  }
}

.title {
  color: rgb(5, 74, 238);
  font-size: 8vw;
  padding-left: 8vw;

  & > span {
    display: block;
    overflow: hidden;

    & > span {
      display: block;
    }
  }
}

.about_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $white;
  width: 70%;
  height: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .about {
    p {
      text-align: justify;
      font-size: 25px;
      text-shadow: 1px 1px 2px gray;
      .me {
        display: flex;
        font-size: 2em;
      }
      .Icon {
        margin: 5px;
      }
      img {
        margin: 20px 5px 0px 0px;
        width: 400px;
        float: inline-start;
      }
      .scroll_text {
        display: flex;
        justify-content: center;
        margin: 5px;
        span {
          margin: 5px;
        }
      }
    }
    .cv_container {
      display: flex;
      justify-content: center;
      text-decoration: none;

      button {
        transform: translateX(20px);
        background-color: orange;
        padding: 20px;
        border: none;
        cursor: pointer;
        pointer-events: all;
        color: $white;
        transition: all ease-in 0.3s;
        font-weight: 700;
        font-size: 1.5rem;
        &:hover {
          color: $dark;
        }
      }
    }
  }
}
